.chatbox{
    width: 67%;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    height: 88%;
    margin-top: 10px;
}
.chatheader{
    padding-top: 0px;
    padding-bottom: 5px;
    font-size: xx-large;
    padding-left: 10px;
    height: 8%;
}