.msgbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    background-color: rgb(232, 239, 239);
    margin-left: 10px;
    /* margin-right: 10px; */
    border-radius: 10px;
    height: 90%;
 }
.mess{
    height: 90%;
    /* background-color: blue; */
    overflow-x: scroll;
    width: 99%;
    /* /* border: 1px solid red; */
}
.mess::-webkit-scrollbar {
    display: none;
}
.aks{
    margin-left: auto;
    border: 1px solid rgb(204, 239, 250);
    background-color: rgb(204, 239, 250);
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    width: fit-content;
    word-wrap: break-word;
    max-width: 50%;
    margin-top: 5px;
 }
 .aks2{
    margin-right: auto;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
    width: fit-content;
    margin-top: 5px;
    border: 1px solid rgb(190, 242, 207);
    background-color: rgb(190, 242, 207);
    max-width: 100px;
 }
 
 .inputfield{
       /* border: 1px solid black; */
       border-radius: 10px;
       width: 95%;
       z-index: 5;
       background-color: rgb(216, 230, 230);
       display: flex;
 }
 .input{ 
    width: 100%;
    padding: 10px;
 }
 .selectchat{
      font-size: xx-large;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 99%;
    
 }
 .lottie{
    position: fixed;
    height: 50px;
    width: 100px;
    margin-top:-50px ;
 }