.mains{
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 10px;
    width: 30%;
    height: 88%;
    margin-left: 10px;
}
.main-mychat{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
    height: 85%;
    padding-top: 10px;
}
.mychat{
    width: 80%;
    background-color: rgb(232, 239, 239);
   
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: small;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 31px;
}
.mychat::-webkit-scrollbar {
    display: none;
}
.mychat-header{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    gap: 39%;
    font-size: x-large;
}
.groupbtn{
    padding: 10px;
    cursor: pointer;
    border: 1px solid rgb(232, 239, 239);
    border-radius: 8px;
}
.chtlst{
    font-size: smaller;
}
