.main{
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;
}
.div1{
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 5px;
}
.div2{
    justify-content:center;
    margin: auto;
}
.div3{
    margin-right: 20px;
}
.div4{
    margin-right: 150px;
    position: relative;
}
.image{
    width: 30px;
    height: 30px;
   /* border: 1px solid red; */
   /* border-radius: 50%; */
}
.dropdiv{
    position: absolute;
 top: 50px; 
  right: 0; 
   background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}